:root {
  color: #000;

  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li, h1, p, h2, h3 {
    margin: 0;
    padding: 0;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}